In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.shape

(32561, 15)

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [40]:
round(df.loc[df['sex'] == 'Male','age'].mean(), 1)

39.4

In [44]:
round(100 * df.loc[df['education']=='Bachelors', 'age'].count() / df['age'].count(), 1)

16.4

In [75]:
    higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    higher_education_rich = round(100 * len(higher_education.loc[higher_education['salary']=='>50K']) / len(higher_education), 1)
    higher_education_rich

46.5

In [77]:
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_rich = round(100 * len(lower_education.loc[lower_education['salary']=='>50K']) / len(lower_education), 1)
lower_education_rich

17.4

In [79]:
min_work_hours = df['hours-per-week'].min()

In [87]:
min_workers = df.loc[df['hours-per-week']==df['hours-per-week'].min()]
rich = min_workers.loc[min_workers['salary']=='>50K']
rich_percentage = round(100 * len(rich) / len(min_workers), 1)

10.0

In [92]:
df.groupby('native-country')['salary'].count()

native-country
?                               583
Cambodia                         19
Canada                          121
China                            75
Columbia                         59
Cuba                             95
Dominican-Republic               70
Ecuador                          28
El-Salvador                     106
England                          90
France                           29
Germany                         137
Greece                           29
Guatemala                        64
Haiti                            44
Holand-Netherlands                1
Honduras                         13
Hong                             20
Hungary                          13
India                           100
Iran                             43
Ireland                          24
Italy                            73
Jamaica                          81
Japan                            62
Laos                             18
Mexico                          643
Nicaragua                        34
Outlying-US(Guam-USVI-etc)       14
Peru                             31
Philippines                     198
Poland                           60
Portugal                         37
Puerto-Rico                     114
Scotland                         12
South                            80
Taiwan                           51
Thailand                         18
Trinadad&Tobago                  19
United-States                 29170
Vietnam                          67
Yugoslavia                       16
Name: salary, dtype: int64

In [127]:
salc = df[['native-country','salary']]
salc_count = salc.groupby('native-country').count()
richc_count = salc.loc[salc['salary'] == '>50K'].groupby('native-country').count()

percs = round(100 * richc_count / salc_count, 1)
richer_country = percs.sort_values(by=['salary'], ascending=False)
highest_earning_country = richer_country.index.values[0]
highest_earning_country_percentage = richer_country['salary'].head(1).values[0]

41.9

In [133]:
df.loc[df['native-country']=='India']['occupation'].value_counts().index.values[0]

'Prof-specialty'

In [138]:
india = df.loc[df['native-country']=='India'][['occupation', 'salary']]
india_rich = india.loc[india['salary'] == '>50K']
india_rich['occupation'].value_counts().index.values[0]

'Prof-specialty'